<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="buscarMedico( input.value )" type="text" class="form-control" placeholder="Buscar Médico...">        
      </div>
    </div>
  </div>
</div>
  
<ng-container *ngIf="cargando; else Cargo">
  <div class="row animated fadeIn">
    <div class="col-sm-12">
      <div class="alert alert-warning text-center">
        <strong>Loading...</strong>
        <br>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <br>
        <span>Please wait</span>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #Cargo>
  <div class="row animated fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <div class="text-right">
              <button class="btn btn-success waves-effect waves-light btn-rounded" [routerLink]="['/medico', 'nuevo']"><i class="fa fa-plus-square" aria-hidden="true"></i> Crear Médico</button>
            </div>
            <h3 class="card-title">Médicos registrados: <small>{{ totalRegistros }}</small> </h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Médico</th>
                  <th>Clínica</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medico of medicos">
                  <th>
                    <img [src]="medico.img | imagen: 'medico'" class="img-50 img-circle">
                  </th>
                  <th>{{ medico.nombre }}</th>
                  <th>{{ medico.clinica?.nombre }}</th>
                  <th>
                    <button [routerLink]="['/medico', medico._id]" class="btn btn-info">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button (click)="borrarMedico( medico )" class="btn btn-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </th>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>
